.sidebar_main_head {
  .humberger {
    img {
      width: 40px;
      height: auto;
    }

    @media (min-width: 968px) {
      display: none;
    }
  }
  .side_nav_cont {
    .saved-title {
      border-bottom: 1px solid gray;
      padding-bottom: 5px;
    }
    .nav_icon {
      img {
        width: 24px;
        height: auto;
      }
    }

    .header_chunk,
    .menu_nav_link {
      padding-left: 35px;
    }

    @media (min-width: 0px) {
      display: none;
    }

    @media (min-width: 968px) {
      display: block;
    }
  }
}
